<header>
    <nav>
        <div class="logo">
            <img class="img-logo" src="../../../assets/img/logo.png" alt="logo superior esquerdo">
        </div>

        <div class="opcoes">
            <a class="a-menu" routerLink="/servicos"> <img class="img-icones-nav"
                    src="../../../assets/img/icone_servicos.png"> SERVIÇOS </a>
            <a class="a-menu" routerLink="/home"> <img class="img-icones-nav" src="../../../assets/img/icone_home.png"> HOME</a>
        </div>
    </nav>
</header>

<body>
    <div class="caixa-cliente">
        <h2>Tudo certo por aqui!</h2>
        <h3>Estamos esperando por você...</h3>
        <br>
        <h5>Não se preocupe, nossa equipe entrará em contato contigo para confirmar o agendamento</h5>
        <h3>Enquanto isso, conheça mais dos nossos serviços</h3>
        <div class="caixa-texto botao">
            <input routerLink="/servicos" type="Submit" value="Ir para serviços!">
            <input class="voltar-home" routerLink="/home" type="Submit" value="Voltar para home!">
        </div>
    </div>
    <footer>
        <p>Direitos reservados - Lava Rappid - Desenvolvido por Renan Fabricio - 2023</p>
    </footer>
</body>