<header>
    <nav id="topo">
        <div class="logo">
            <img class="img-logo" src="../../../assets/img/logo.png" alt="logo superior esquerdo">
        </div>

        <div class="opcoes">
            <a class="a-menu" routerLink="/listar/clientes"> <img class="img-icones-nav-dados" src="../../../../assets/img/iconcliente.png"> CLIENTES </a>
            <a class="a-menu" routerLink="/listar/veiculos"> <img class="img-icones-nav" src="../../../../assets/img/iconcar.png"> VEICULOS </a>
            <a class="a-menu" routerLink="/listar/servicos"> <img class="img-icones-nav" src="../../../assets/img/icone_servicos.png"> SERVIÇOS </a>
            <a class="a-menu" routerLink="/listar/lavarapido"> <img class="img-icones-nav-dados" src="../../../../assets/img/icondados.png"> MEUS DADOS </a>
            <a class="a-menu" routerLink="/home-admin"> <img class="img-icones-nav" src="../../../../assets/img/icone_home.png"> HOME </a>
        </div>

    </nav>
        <a (click)="voltarAoTopo()"><img class="seta-retorno" src="../../../../assets/img/seta_retorno2.png" alt="Seta que retorna para inicio da pagina"></a>
</header>
<div class="card">
    <div class="card-header">
        <h3>Agendamentos</h3>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="botoes-admin">
                <button (click)="Novo()" type="button" class="btn btn-primary">Agendar</button>
            </div>
        </div>
        <div class="card body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Placa - Veiculo</th>
                        <th>CPF - Proprietário</th>
                        <th>Nome Proprietário</th>
                        <th>Serviço </th>
                        <th>Status</th>
                        <th>Observações</th>
                        <th class="acoes">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agendamento of agendamentos" class="text-center">
                        <td>{{agendamento.idAgendamento}}</td>
                        <td>{{agendamento.dataAgendamento}}</td>
                        <td>{{agendamento.horarioAgendamento}}</td>
                        <td>{{agendamento.veiculo_Placa.placa}}</td>
                        <td>{{agendamento.veiculo_Placa.cliente_cpf.cpf}}</td>
                        <td>{{agendamento.veiculo_Placa.cliente_cpf.nome}}</td>
                        <td>{{agendamento.servico_idServico.descricao}}</td>
                        <td>{{agendamento.status}}</td>
                        <td>{{agendamento.observacoes}}</td>

                        <td>
                            <button (click)="Editar(agendamento)" class="btn btn-warning">Editar</button>
                            <button (click)="Delete(agendamento)" class="btn btn-danger"
                                style="margin-left: 10px;">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer>
    <p>Direitos reservados - Lava Rappid - Desenvolvido por Renan Fabricio - 2023</p>
</footer>