<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>LAVA RAPPID</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Renan Fabricio" />
</head>

<body>
    <nav>
        <div class="logo">
            <img class="img-logo" src="../../../assets/img/logo.png" alt="logo superior esquerdo">
        </div>

        <div class="opcoes">
            <a class="a-menu" routerLink="/listar/agendamentos"> <img class="img-icones-nav" src="../../../assets/img/iconcalendario.png"> AGENDAMENTOS </a>
            <a class="a-menu" routerLink="/listar/clientes"> <img class="img-icones-nav-cli" src="../../../assets/img/iconcliente.png"> CLIENTES </a>
            <a class="a-menu" routerLink="/listar/veiculos"> <img class="img-icones-nav-carro" src="../../../assets/img/iconcar.png"> VEICULOS </a>
            <a class="a-menu" routerLink="/listar/servicos"> <img class="img-icones-nav" src="../../../assets/img/icone_servicos.png"> SERVIÇOS </a>
            <a class="a-menu" routerLink="/listar/lavarapido"> <img class="img-icones-nav-dados" src="../../../assets/img/icondados.png"> MEUS DADOS </a>
            <a class="a-menu" routerLink="/home"> <img class="img-icones-nav" src="../../../assets/img/icone-sair.png"> SAIR </a>
        </div>

    </nav>
<header>
        <img src="../../../assets/img/imgTelaAdmin.png" alt="banner contendo a logo do lavarappid acompanhando um fundo" />
    </header>


    <section id="pag-contatos">
        <h2>Contato para suporte</h2>
    <div id="container-contato">
            <div class="coluna-contato">
                <p>Em caso de qualquer problema com a aplicação entre com o nosso suporte</p>

                <div class="container-imagens-contatos">
                    <a href="lavarappid@gmail.com" target="_blank">
                        <img class="img-icones" src="../../assets/img/logoemail.png" />
                    </a>
                        <p>suporte@gmail.com</p>
                    <a href="https://br.linkedin.com" target="_blank">
                        <img class="img-icones" src="../../assets/img/logolinkedin.png" />
                    </a>
                        <p>Renan Fabricio</p>
                    <a href="https://br.linkedin.com" target="_blank">
                        <img class="img-icones" src="../../assets/img/logolinkedin.png" />
                    </a>
                    <p>(11) 4004-0000</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p> Direitos reservados - Lava Rappid - Desenvolvido por Renan Fabricio - 2023</p>
    </footer>
</body>

</html>