<!DOCTYPE html>
<html long="pt-br">

<head>
    <title>Lava Rappid - Cadastra-se</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Renan Fabricio" />
</head>
    <header>
        <nav>
            <div class ="logo">
                <img class="img-logo" src="../../../assets/img/logo.png" alt="logo superior esquerdo">
            </div>
            <div class="texto-navbar">
                <h2>ÁREA DO ADMINISTRADOR</h2>
            </div>
        </nav>
    </header>
    
    <body>
        <div class="caixa-cliente">
            <h2>Cadastro novo cliente</h2>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="caixa-texto">
                    <input type="text" placeholder="Digite seu CPF" [(ngModel)]="cliente.cpf" name="cpf" required #cpf="ngModel">
                    <div class="alert alert-danger" role="alert" *ngIf="!cpf.valid && cpf.touched">
                        O campo do CPF é obrigatório!
                </div>
            </div>
            <div class="caixa-texto">
                <input type="text" placeholder="Digite seu nome" [(ngModel)]="cliente.nome" name="nome" required #nome="ngModel">
                    <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                        O campo do nome é obrigatório!
                </div>
            </div>
            <div class="caixa-texto">
                <input type="text" placeholder="Digite seu email" [(ngModel)]="cliente.email" name="email" required #email="ngModel">
                    <div class="alert alert-danger" role="alert" *ngIf="!email.valid && email.touched">
                        O campo do email é obrigatório!
                </div>
            </div>
            <div class="caixa-texto">
                <input type="text" placeholder="Digite seu telefone" [(ngModel)]="cliente.telefone" name="telefone" required #telefone="ngModel">
                    <div class="alert alert-danger" role="alert" *ngIf="!telefone.valid && telefone.touched">
                        O campo do telefone é obrigatório!
                </div>
            </div>
            <div class="caixa-texto botao">
                <button type="button" (click)="Salvar()" class="botao-salvar">Salvar</button>
                <button type="reset" routerLink="/listar/clientes" class="botao-cancelar">Cancelar</button>   
            </div>
        </form>
    </div>
    <footer> 
        <p> Direitos reservados - Lava Rappid - Desenvolvido por Renan Fabricio - 2023</p>
    </footer>
</body>
</html>

