<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Lava Rappid - Cadastre-se</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Renan Fabricio" />
</head>

<header>
    <nav>
        <div class="logo">
            <img class="img-logo" src="../../../assets/img/logo.png" alt="logo superior esquerdo">
        </div>

        <div class="texto-navbar">
            <h2>ÁREA DO ADMINISTRADOR</h2>
        </div>

    </nav>
</header>

<body>
    <div class="caixa-cliente">
        <h2>Editar - Meus dados</h2>
        <form action="">
            <div class="caixa-texto">
                <label for="">Nome:</label>
                <input type="text" placeholder="Digite o nome do lava rapido" [(ngModel)]="lavarapido.nome" name="nome">
            </div>
            <div class="caixa-texto">
                <label for="">Email: </label>
                <input type="text" placeholder="Digite seu email" [(ngModel)]="lavarapido.email" name="email">
            </div>
            <div class="caixa-texto">
                <label for="">Senha: </label>
                <input type="password" placeholder="Digite a nova senha" [(ngModel)]="lavarapido.senha" name="senha">
            </div>
            <div class="caixa-texto">
                <label for="">Telefone: </label>
                <input type="text" placeholder="Digite seu telefone" [(ngModel)]="lavarapido.telefone" name="telefone">
            </div>
            <div class="caixa-texto">
                <label for="">Endereço:</label>
                <input type="text" placeholder="Digite seu endereço" [(ngModel)]="lavarapido.endereco" name="endereco">
            </div>
            <div class="caixa-texto">
                <label for="">CEP:</label>
                <input type="text" placeholder="Digite o cep" [(ngModel)]="lavarapido.cep" name="cep">
            </div>
            <div class="caixa-texto botao">
                <button type="button" (click)="Atualizar(lavarapido)" class="botao-salvar">Atualizar</button>
                <button type="reset" routerLink="/listar/lavarapido" class="botao-cancelar">Cancelar</button>
            </div>
        </form>
    </div>
    <footer>
        <p> Direitos reservados - Lava Rappid - Desenvolvido por Renan Fabricio - 2023</p>
    </footer>
</body>

</html>