<header>
    <nav>
        <div class="logo">
            <img class="img-logo" src="../../../assets/img/logo.png" alt="logo superior esquerdo">
        </div>
        <div class="texto-navbar">
            <h2>ÁREA DO ADMINISTRADOR</h2>
        </div>
    </nav>
</header>

<body>
    <div class="caixa-cliente">
        <h2>Novo agendamento</h2>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="caixa-texto">
                <input type="text" placeholder="Digite a placa do veiculo" [(ngModel)]="agendamento.veiculo_Placa" name="placa" required #placa="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="!placa.valid && placa.touched">
                    A placa do veiculo é obrigatória
                </div>
            </div>
            <div class="caixa-texto">
                <input type="date" placeholder="Digite a Data do agendamento" [(ngModel)]="agendamento.dataAgendamento"
                    name="adicionar-data" required #data="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="!data.valid && data.touched">
                    A data do agendamento é obrigatória
                </div>
            </div>
            <div class="caixa-texto">
                <input type="time" placeholder="Digite o Horário do agendamento"
                    [(ngModel)]="agendamento.horarioAgendamento" name="adicionar-horario" required #horario="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="!horario.valid && horario.touched">
                    O horário do agendamento é obrigatório
                </div>
            </div>
            <div class="caixa-texto">
                <input type="number" placeholder="Digite o id do serviço" [(ngModel)]="agendamento.servico_idServico"
                    name="adicionar-idServico" required #servico="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="!servico.valid && servico.touched">
                    O Id do serviço é obrigatório
                </div>
            </div>
            <div class="caixa-texto">
                <input type="text" placeholder="Digite o status" [(ngModel)]="agendamento.status"
                    name="adicionar-status" required #status="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="!status.valid && status.touched">
                    O status do agendamento é obrigatório
                </div>
            </div>
            <div class="caixa-texto">
                <input type="text" placeholder="Observações" [(ngModel)]="agendamento.observacoes"
                    name="adicionar-observacoes">
            </div>
            <div class="caixa-texto botao">

                <button type="button" (click)="Salvar()" class="botao-salvar">Salvar</button>
                <button type="reset" routerLink="/listar/agendamentos" class="botao-cancelar">Cancelar</button>
            </div>
        </form>
    </div>
    <footer>
        <p>Direitos reservados - Lava Rappid - Desenvolvido por Renan Fabricio - 2023</p>
    </footer>
</body>