<body>
    <nav id="topo">
        <div class="logo">
            <img class="img-logo" src="../../../assets/img/logo.png" alt="logo superio esquerdo">
        </div>

        <div class="opcoes">
            <a class="a-menu" routerLink="/home"><img class="img-icones-nav" src="../../../assets/img/icone_home.png"> HOME </a>
        </div>
    </nav>
    <a (click)="VoltarAoTopo()"><img class="seta-retorno" src="../../../assets/img/seta_retorno2.png" alt="Seta que retorna para inicio da pagina"></a>

    <section id="pag-todos-servicos">
        <h2>Serviços</h2>

        <p>Conheça alguns dos serviços do Lava Rappid</p>

        <div id="container-servicos">
            <div class="card-servicos">
                <img src="../../../assets/img/servico12.jpg" alt="Lavagem de forma simples" />
                <div class="card-servicos-content">
                    <h3>Lavagem simples</h3>
                    <p>Esse é um dos serviços mais procurados na Lava Rappid. Na correria do dia a dia, muitos motoristas optam por lavagem rápida, mas com os nossos padrões de qualidade.</p>
                    <h3>R$ 30,00</h3>
                </div>
            </div>
            <div class="card-servicos">
                <img src="../../../assets/img/servico13.jpg" alt="Lavagem de forma simples" />
                <div class="card-servicos-content">
                    <h3>Lavagem ecologica</h3>
                    <p>A lavagem ecologica é para as pessoas que pensam no meio ambiente e Lava Rappid se preocupa com isso.</p>
                    <h3>R$ 90,00</h3>
                </div>
            </div>
            <div class="card-servicos">
                <img src="../../../assets/img/servico1.jpg" alt="Higienização interna do veículo" />
                <div class="card-servicos-content">
                    <h3>Higienização</h3>
                    <p>A higienização automotiva interna feita pela Lava Rappid é uma limpeza completa do interior do veículo. </p>
                    <h3>R$ 100,00</h3>
                </div>
            </div>
            <div class="card-servicos">
                <img src="../../../assets/img/servico14.jpg" alt="Cristalização de pintura" />
                <div class="card-servicos-content">
                    <h3>Cristalização</h3>
                    <p>A cristalização oferece uma proteção duradoura para uma série de males que o tempo exerce sobre a pintura. </p>
                    <h3>R$ 200,00</h3>
                </div>
            </div>
            <div class="card-servicos">
                <img src="../../../assets/img/servico5.jpg" alt="Polimento Tech" />
                <div class="card-servicos-content">
                    <h3>Polimento Tech</h3>
                    <p>O Polimento Tech é especial, pois usando a tecnologia, conseguimos deixar igual á um carro novo. </p>
                    <h3>R$ 280,00</h3>
                </div>
            </div>
            <div class="card-servicos">
                <img src="../../../assets/img/servico3.jpg" alt="Serviço completo" />
                <div class="card-servicos-content">
                    <h3>Combo Clean Tech</h3>
                    <p>Essa modalidade é ultra limpa, você recebe tudo que está incluso anteriormente.</p>
                    <h3>R$ 350,00</h3>
                </div>
            </div>
        </div>
    </section>
    <footer> 
        <p> Direitos reservados - Lava Rappid - Desenvolvido por Renan Fabricio - 2023</p>
    </footer>
</body>
